{% extends 'base.html.twig' %}
{% block body %}
    <table class="m_-5199420182349167779table-row" width="450" bgcolor="#FFFFFF" style="table-layout:fixed;background-color:#ffffff; text-align: center; margin: 0 auto;" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td class="m_-5199420182349167779table-row-td" style="font-family:Arial,sans-serif;line-height:19px;color:#444444;font-size:13px;font-weight:normal;padding-left:36px;padding-right:36px" valign="top" align="left">
                <table class="m_-5199420182349167779table-col" align="left" width="378" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed"><tbody><tr><td class="m_-5199420182349167779table-col-td" width="378" style="font-family:Arial,sans-serif;line-height:19px;color:#444444;font-size:13px;font-weight:normal;width:378px" valign="top" align="left">
                            <table class="m_-5199420182349167779header-row" width="378" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed"><tbody><tr><td class="m_-5199420182349167779header-row-td" width="378" style="font-family:Arial,sans-serif;font-weight:normal;line-height:19px;color:#478fca;margin:0px;font-size:18px;padding-bottom:10px;padding-top:15px" valign="top" align="left">
                                        Résultat de l'examen
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="font-family:Arial,sans-serif;line-height:20px;color:#444444;font-size:13px">

                                Bonjour {% if demande.user.sexe == 'Homme' %}Mr.{% else %}Mme.{% endif %} {{  demande.user.nomFr }} {{  demande.user.PrenomFr }}, <br>

                                <p>nous avons le regret de vous annoncer votre non qualification à l’examen. Vous avez le droit de repasser cet examen après 6 mois.</p>

                                <br>

                                <br>



                                <p style="font-weight: bold; color: #c7254e"> ©  Ministère de la Formation Professionnelle et de l'Emploi <br></p>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
