{% extends 'base2.html.twig' %}
{% block body %}
    <div class="container">
        <img src="{{ asset('/images/refus_demande_centre_formation.png') }}" width="500px" height="700px"/>
    </div>
{% endblock %}